* {
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  color: #121212;
  background-color: #eee;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
}

.box {
  background-color: crimson;
  color: whitesmoke;
  width: 160px;
  height: 160px;
  text-align: center;
  align-content: center;
  animation: move 4s linear 0s 2 normal none;
  position: relative;
  top: 0;
  left: 0;
}

@keyframes move {
  0% {
    left: 0;
    top: 0;
    background-color: yellow;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  25% {
    left: 160px;
    top: 0;
    background-color: lightgreen;
    border-radius: 50%;
    transform: rotateX(0deg) rotateY(90deg) rotateZ(90deg);
  }
  50% {
    top: 160px;
    left: 160px;
    background-color: lightblue;
    border-radius: 0;
    transform: rotateX(90deg) rotateY(0deg) rotateZ(90deg);
  }
  75% {
    left: 0;
    top: 160px;
    background-color: lightcoral;
    border-radius: 50%;
    transform: rotateX(90deg) rotateY(90deg) rotateZ(45deg);
  }
  100% {
    top: 0;
    left: 0;
    background-color: magenta;
    transform: rotateX(-180deg) rotateY(-180deg) rotateZ(45deg);
  }
}
