* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  color: #121212;
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
}

header {
  background-color: salmon;
  padding: 1rem;
}

main {
  height: calc(100vh - 74.4px - 53.6px);
  min-height: 500px;
}

footer {
  background-color: lightblue;
  padding: 1rem;
}