* {
  box-sizing: border-box;
}

body {
  background-color: rgb(93, 22, 175);
}

.form-card {
  margin-inline: auto;
  max-width: 400px;
  background-color: #eee;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 4px #adadadb1;
  outline: 2px solid orange;
  text-align: center;
}

.form-card input {
  display: block;
  width: 100%;
  margin-block: 12px;
  padding: 12px;
}

.form-card input::placeholder {
  text-align: center;
}