* {
  box-sizing: border-box;
  /* border: 1px solid red;
  margin: 4px;
  padding: 4px; */
}

.text-center {
  text-align: center;
}

nav {
  background-color: yellowgreen;
  padding: 12px;
  height: 100px;
  align-content: center;
}


.nav-links {
  float: right;
  margin-block: 12px;
}